@model NISC_MFP_MVC.ViewModels.UserViewModel

@{

}

<style>
    .ui-autocomplete {
        max-height: 200px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
        /* add padding to account for vertical scrollbar */
        padding-right: 20px;
    }

    #userForm ul li:not(:first-child) {
        border-top: 1px #ccc solid;
    }
</style>

<div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
        @using (Html.BeginForm("AddOrEditUser", "User", FormMethod.Post, new { @id = "addOrEditForm", @class = "overflow-auto" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(d => d.serial)

            <div class="modal-header">
                <h1 class="modal-title fs-4 fw-bold" id="exampleModalLabel">@ViewBag.formTitle</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body ui-front">

                <div class="row mx-3 mb-3">
                    <div class="input-group ps-0">
                        @Html.LabelFor(d => d.user_id, new { @class = "form-label ps-0 fw-semibold me-2" })
                        <div class="input-group-addon">
                            <i class="fa-solid fa-star-of-life fa-beat fa-2xs" style="color: #ff0000;"></i>
                        </div>
                    </div>
                    @if (@ViewBag.formTitle == "修改使用者")
                    {
                        @Html.TextBoxFor(d => d.user_id, new { @class = "form-control", @readonly = "readonly"})
                        @Html.ValidationMessageFor(d => d.user_id, "", new { @class = "text-danger ps-0 fs-6" })
                    }
                    else
                    {
                        @Html.TextBoxFor(d => d.user_id, new { @class = "form-control"})
                        @Html.ValidationMessageFor(d => d.user_id, "", new { @class = "text-danger ps-0 fs-6" })
                    }

                </div>

                <div class="row mx-3 mb-3">
                    @Html.LabelFor(d => d.user_password, new { @class = "form-label ps-0 fw-semibold" })
                    @Html.TextBoxFor(d => d.user_password, new { @class = "form-control" })
                </div>

                <div class="row mx-3 mb-3">
                    @Html.LabelFor(d => d.work_id, new { @class = "form-label ps-0 fw-semibold" })
                    @Html.TextBoxFor(d => d.work_id, new { @class = "form-control" })
                </div>

                <div class="row mx-3 mb-3">
                    @Html.LabelFor(d => d.user_name, new { @class = "form-label ps-0 fw-semibold" })
                    @Html.TextBoxFor(d => d.user_name, new { @class = "form-control" })
                </div>

                <div class="row mx-3 mb-3">
                    <div class="col p-0">
                        <div class="input-group ps-0">
                            @Html.LabelFor(d => d.dept_id, new { @class = "form-label ps-0 fw-semibold me-3" })
                            <div class="input-group-addon">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </div>
                        </div>
                        @Html.TextBoxFor(d => d.dept_id, new { @class = "form-control mw-100", data_url = Url.Action("SearchDepartment", "User"), type = "search" })
                    </div>
                </div>


                <div class="row mx-3 mb-3">
                    @Html.LabelFor(d => d.dept_name, new { @class = "form-label ps-0 fw-semibold" })
                    @Html.TextBoxFor(d => d.dept_name, new { @class = "form-control" })
                </div>

                <div class="row mx-3 mb-3">
                    @Html.LabelFor(d => d.e_mail, new { @class = "form-label ps-0 fw-semibold" })
                    @Html.TextBoxFor(d => d.e_mail, new { @class = "form-control", @type = "email" })
                </div>

                <div class="row mx-3 mb-3">
                    @Html.LabelFor(d => d.color_enable_flag, new { @class = "form-label ps-0 fw-semibold" })
                    <div class="col px-0">
                        <div class="form-check form-check-inline">
                            @Html.RadioButtonFor(d => d.color_enable_flag, "0", new { @class = "form-check-input" })
                            <label class="form-check-label fs-6" for="flexRadioDefault1">
                                無
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            @Html.RadioButtonFor(d => d.color_enable_flag, "1", new { @class = "form-check-input" })
                            <label class="form-check-label fs-6" for="flexRadioDefault1">
                                有
                            </label>
                        </div>
                    </div>
                </div>

                <div class="row mx-3 mb-3">
                    @Html.LabelFor(d => d.copy_enable_flag, "影印使用權限", new { @class = "form-label ps-0 fw-semibold" })
                    <div class="col px-0">
                        <div class="form-check form-check-inline">
                            @Html.RadioButtonFor(d => d.copy_enable_flag, "0", new { @class = "form-check-input" })
                            <label class="form-check-label fs-6" for="flexRadioDefault1">
                                無
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            @Html.RadioButtonFor(d => d.copy_enable_flag, "1", new { @class = "form-check-input" })
                            <label class="form-check-label fs-6" for="flexRadioDefault1">
                                有
                            </label>
                        </div>
                    </div>
                </div>

                <div class="row mx-3 mb-3">
                    @Html.LabelFor(d => d.print_enable_flag, "列印使用權限", new { @class = "form-label ps-0 fw-semibold" })
                    <div class="col px-0">
                        <div class="form-check form-check-inline">
                            @Html.RadioButtonFor(d => d.print_enable_flag, "0", new { @class = "form-check-input" })
                            <label class="form-check-label fs-6" for="flexRadioDefault1">
                                無
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            @Html.RadioButtonFor(d => d.print_enable_flag, "1", new { @class = "form-check-input" })
                            <label class="form-check-label fs-6" for="flexRadioDefault1">
                                有
                            </label>
                        </div>
                    </div>
                </div>

                <div class="row mx-3 mb-3">
                    @Html.LabelFor(d => d.scan_enable_flag, "掃描使用權限", new { @class = "form-label ps-0 fw-semibold" })
                    <div class="col px-0">
                        <div class="form-check form-check-inline">
                            @Html.RadioButtonFor(d => d.scan_enable_flag, "0", new { @class = "form-check-input" })
                            <label class="form-check-label fs-6" for="flexRadioDefault1">
                                無
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            @Html.RadioButtonFor(d => d.scan_enable_flag, "1", new { @class = "form-check-input" })
                            <label class="form-check-label fs-6" for="flexRadioDefault1">
                                有
                            </label>
                        </div>
                    </div>
                </div>

                <div class="row mx-3 mb-3">
                    @Html.LabelFor(d => d.fax_enable_flag, "傳真使用權限", new { @class = "form-label ps-0 fw-semibold" })
                    <div class="col px-0">
                        <div class="form-check form-check-inline">
                            @Html.RadioButtonFor(d => d.fax_enable_flag, "0", new { @class = "form-check-input" })
                            <label class="form-check-label fs-6" for="flexRadioDefault1">
                                無
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            @Html.RadioButtonFor(d => d.fax_enable_flag, "1", new { @class = "form-check-input" })
                            <label class="form-check-label fs-6" for="flexRadioDefault1">
                                有
                            </label>
                        </div>
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                <button type="submit" id="btnSubmmit" value="Add" class="btn btn-success">新增</button>
            </div>
        }
    </div>
</div>

<script>
    function DefalutDepartmentAutocomplete() {
        $("#dept_id").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: $("#dept_id").data("url"),
                    type: "POST",
                    dataType: "JSON",
                    data: { prefix: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.dept_id, value: item.dept_id, name: item.dept_name };
                        }));
                    }
                })
            },
            select: function (event, ui) {
                $("#dept_name").val(ui.item.name);
            },
            appendTo: "#userForm",
            minLength: 0
        }).focus(function () {
            $(this).autocomplete('search', $(this).val())
        }).autocomplete("instance")._renderItem = function (ul, item) {
            return $("<li class='list-group-item'>")
                .append("<div>部門代碼：" + item.label + "</br>部門名稱：" + item.name + "</div>")
                .appendTo(ul);
        };

        //avoid dropdownlist unfix when modal scroll down
        $("#dept_id").autocomplete("option", "appendTo", ".eventInsForm");

    }

    function ClearButton() {
        $("#dept_id").on("search", function () {
            $("#dept_name").val('');
        })
    }

    $(function () {
        DefalutDepartmentAutocomplete();
        ClearButton();
    })

</script>