<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @*@Styles.Render("~/lib/daterangepicker/css")*@
</head>

<body class="bg-black bg-gradient">
    <header class=" header p-3 mb-2 bg-dark bg-gradient">

        <a href="@Url.Action("Print","Admin")" class="logo">
            <img src="../img/logo.png" alt="Logo">
        </a>

        <style>
            .gridline {
                outline: 3px fa-solid #9E9E9E;
                text-align: center;
                marign: 1px;
            }
        </style>
    </header>

    <div class="container-fluid">
        <div class="card text-center m-3 ">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="@(ViewBag.ActiveNav == "Print" ? "nav-link active":"nav-link")" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab"
                                aria-selected=false onclick="location.href = '@Url.Action("Print","Admin")'">
                            <i class="fa-solid fa-wallet"></i>&ensp;使用紀錄
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="@(ViewBag.ActiveNav == "Deposite" ? "nav-link active":"nav-link")" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab"
                                aria-selected=false onclick="location.href = '@Url.Action("Deposite","Admin")'">
                            <i class="fa-solid fa-wallet"></i>&ensp;儲值紀錄
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="@(ViewBag.ActiveNav == "Department" ? "nav-link active":"nav-link")" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab"
                                aria-selected="false" onclick="location.href='@Url.Action("Department","Admin")'">
                            <i class="fa-solid fa-network-wired"></i>&ensp;部門管理
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="@(ViewBag.ActiveNav == "User" ? "nav-link active":"nav-link")" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab"
                                aria-selected="false" onclick="location.href='@Url.Action("User","Admin")'">
                            <i class="fa-solid fa-user"></i>&ensp;使用者管理
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="@(ViewBag.ActiveNav == "Cardreader" ? "nav-link active":"nav-link")" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab"
                                aria-selected="false" onclick="location.href='@Url.Action("Cardreader","Admin")'">
                            <i class="fa-solid fa-desktop"></i>&ensp;事務機管理
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="@(ViewBag.ActiveNav == "Card" ? "nav-link active":"nav-link")" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab"
                                aria-selected="false" onclick="location.href='@Url.Action("Card","Admin")'">
                            <i class="fa-solid fa-credit-card"></i>&ensp;卡片管理
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="@(ViewBag.ActiveNav == "Watermark" ? "nav-link active":"nav-link")" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab"
                                aria-selected="false" onclick="location.href = '@Url.Action("Watermark","Admin")'">
                            <i class="fa-solid fa-address-card"></i>&ensp;浮水印管理
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="@(ViewBag.ActiveNav == "History" ? "nav-link active":"nav-link")" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab"
                                aria-selected="false" onclick="location.href='@Url.Action("History","Admin")'">
                            <i class="fa-solid fa-bars"></i>&ensp;操作紀錄查詢
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="@(ViewBag.ActiveNav == "System" ? "nav-link active":"nav-link")" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab"
                                aria-selected="false" onclick="location.href='@Url.Action("System","Admin")'">
                            <i class="fa-solid fa-gears"></i>&ensp;系統管理
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="@(ViewBag.ActiveNav == "OutputReport" ? "nav-link active":"nav-link")" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab"
                                aria-selected="false" onclick="location.href='@Url.Action("OutputReport","Admin")'">
                            <i class="fa-solid fa-file-lines"></i>&ensp;報表選項
                        </button>
                    </li>

                    <li class="nav-item" role="presentation">
                        <button class="@(ViewBag.ActiveNav == "LogOut" ? "nav-link active":"nav-link")" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab"
                                aria-selected="false" onclick="location.href='@Url.Action("Admin","Login")'">
                            <i class="fa-solid fa-right-from-bracket"></i>&ensp;登出
                        </button>
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

    <footer class="bg-light text-center text-lg-start fixed-bottom">
        <div class="text-left p-3" style="background-color: #3693cf; ">
            © 2005 Copyright:
            <a class="text-dark" href="https://www.nisc.com.tw/">新印科技股份有限公司</a>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)
</body>
</html>
