@model NISC_MFP_MVC.ViewModels.Print.AdvancedPrintViewModel


@{
    ViewBag.Title = "使用紀錄";
    ViewBag.ActiveNav = "print";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section PrintJS{
    @Styles.Render("~/lib/daterangepicker-css")
    @Scripts.Render("~/lib/daterangepicker-js")
    <script type="module" src="@Url.Content("~/Scripts/AdminPartialViewScripts/print.js")"></script>
}

@*進階搜尋選項 - First Container - Start*@
<div class="cotainer-fluid shadow p-3 mb-4 bg-body-tertiary rounded bg-light ">

    <div class="row border-bottom border-2 ">
        <div class="col-6 text-start fs-5 fw-bold" style="color: #1565C0">
            進階搜尋選項&nbsp;<i class="fa-solid fa-magnifying-glass-plus"></i>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-3 border-start border-2 bg-secondary bg-opacity-10">

        <div class="col col-xxl-3 border-end border-2">
            <div class="row border-bottom border-2 fw-semibold">
                <div class="col">
                    日期區間
                </div>
            </div>
            <div class="row border-bottom border-2 mx-auto" id="dateRangePickerRow">
                <div class="col position-relative">
                    <div class="input-group position-absolute top-50 start-50 translate-middle">
                        <span class="input-group-text">起</span>
                        <input id="dateRangePicker" type="text" class="form-control text-center">
                        <span class="input-group-text">迄</span>
                    </div>
                    <div class="position-absolute bottom-0 end-0 fw-bold text-danger">
                        預設日期區間為近半年內
                    </div>
                </div>
            </div>
        </div>

        <div class="col col-xxl border-end border-2 ">
            <div class="row border-bottom border-2 fw-semibold">
                <div class="col">
                    動作選擇
                </div>
            </div>
            <div class="row py-2 border-bottom border-2" id="operationRow">
                <div class="col">
                    <select id="searchPrint_OperationUnSelect" class="form-select" multiple size="6">
                        <option disabled class="bg-light">未選擇動作</option>
                    </select>
                </div>
                <div class="col-1 col-lg-1 align-self-center">
                    <i class="fa-solid fa-repeat"></i>
                </div>
                <div class="col">
                    @Html.DropDownListFor(department => department.operationList, Model.operationList, new { id = "searchPrint_OperationSelect", @class = "form-select", data_placeholder = "multiple", size = "6" })
                </div>
            </div>
        </div>

        <div class="col col-xxl border-end border-2 ">
            <div class="row border-bottom border-2 fw-semibold">
                <div class="col">
                    部門選擇
                </div>
            </div>
            <div class="row py-2 border-bottom border-2" id="departmentRow">
                <div class="col">
                    <select id="searchPrint_DepartmentUnSelect" class="form-select" multiple size="6">
                        <option disabled class="bg-light">未選擇部門</option>
                    </select>
                </div>

                <div class="col-1 align-self-center justify-content-center">
                    <i class="fa-solid fa-repeat"></i>
                </div>
                <div class="col">
                    @Html.DropDownListFor(department => department.departmentList, Model.departmentList, new { id = "searchPrint_DepartmentSelect", @class = "form-select", data_placeholder = "multiple", size = "6" })
                </div>
            </div>
        </div>

    </div>
</div>
@*進階搜尋選項 - First Container - End*@


@*欄位搜尋選項 - Second Container - Start*@
<div class="cotainer-fluid shadow p-3 mb-4 bg-body-tertiary rounded bg-light">

    <div class="row border-bottom border-2 ">
        <div class="col-6 text-start fs-5 fw-bold " style="color: #1565C0">
            欄位搜尋選項&nbsp;<i class="fa-solid fa-magnifying-glass"></i>
        </div>
    </div>

    <div id="searchPrintRow" class="row row-cols-2 row-cols-sm-2 row-cols-md-4 row-cols-lg-6 row-cols-xl-6 border-start border-2 bg-secondary bg-opacity-10">

        <div class="col col-xxl border-end border-2">
            <div class="row border-bottom border-2 fw-semibold">
                <div class="col">
                    事務機
                </div>
            </div>
            <div class="row border-bottom border-2">
                <div class="col align-self-center py-2">
                    <input id="searchPrint_Printer" type="text" class="form-control">
                </div>
            </div>
        </div>

        <div class="col col-xxl border-end border-2">
            <div class="row border-bottom border-2 fw-semibold">
                <div class="col">
                    使用人員
                </div>
            </div>
            <div class="row border-bottom border-2">
                <div class="col align-self-center py-2">
                    <input id="searchPrint_User" type="text" class="form-control">
                </div>
            </div>
        </div>

        <div class="col col-xxl border-end border-2">
            <div class="row border-bottom border-2 fw-semibold">
                <div class="col">
                    部門
                </div>
            </div>
            <div class="row border-bottom border-2">
                <div class="col align-self-center py-2">
                    <input id="searchPrint_Department" type="text" class="form-control">
                </div>
            </div>
        </div>

        <div class="col col-xxl border-end border-2">
            <div class="row border-bottom border-2 fw-semibold">
                <div class="col">
                    卡號
                </div>
            </div>
            <div class="row border-bottom border-2">
                <div class="col align-self-center py-2">
                    <input id="searchPrint_Card" type="text" class="form-control">
                </div>
            </div>
        </div>

        <div class="col col-xxl border-end border-2">
            <div class="row border-bottom border-2 fw-semibold">
                <div class="col">
                    屬性
                </div>
            </div>
            <div class="row border-bottom border-2">
                <div class="col align-self-center py-2">
                    <select id="searchPrint_AttributeSelect" class="form-select">
                        <option id="searchPrint_AttributeAll" selected value>全部</option>
                        <option id="searchPrint_AttributeDesc" value="0">遞減</option>
                        <option id="searchPrint_AttributeAsc" value="1">遞增</option>

                    </select>
                </div>
            </div>
        </div>

        <div class="col col-xxl border-end border-2">
            <div class="row border-bottom border-2 fw-semibold">
                <div class="col">
                    動作
                </div>
            </div>
            <div class="row border-bottom border-2">
                <div class="col align-self-center py-2">
                    <select id="searchPrint_ActionSelect" class="form-select">
                        <option id="searchPrint_ActionAll" selected value>全部</option>
                        <option id="searchPrint_ActionCopy" value="C">影印</option>
                        <option id="searchPrint_ActionPrint" value="P">列印</option>
                        <option id="searchPrint_ActionScan" value="S">掃描</option>
                        <option id="searchPrint_ActionFox" value="F">傳真</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="col col-xxl border-end border-2">
            <div class="row border-bottom border-2 fw-semibold">
                <div class="col">
                    顏色
                </div>
            </div>
            <div class="row border-bottom border-2">
                <div class="col align-self-center py-2">
                    <select id="searchPrint_ColorSelect" class="form-select">
                        <option id="searchPrint_ColorAll" selected value>全部</option>
                        <option id="searchPrint_ColorRGB" value="C">C(彩色)</option>
                        <option id="searchPrint_ColorWB" value="M">M(單色)</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="col col-xxl border-end border-2">
            <div class="row border-bottom border-2 fw-semibold">
                <div class="col">
                    張數
                </div>
            </div>
            <div class="row border-bottom border-2">
                <div class="col align-self-center py-2">
                    <input id="searchPrint_Count" type="text" class="form-control">
                </div>
            </div>
        </div>

        <div class="col col-xxl border-end border-2">
            <div class="row border-bottom border-2 fw-semibold">
                <div class="col">
                    使用點數
                </div>
            </div>
            <div class="row border-bottom border-2">
                <div class="col align-self-center py-2">
                    <input id="searchPrint_Point" type="text" class="form-control">
                </div>
            </div>
        </div>

        <div class="col col-xxl border-end border-2">
            <div class="row border-bottom border-2 fw-semibold">
                <div class="col">
                    列印時間
                </div>
            </div>
            <div class="row border-bottom border-2">
                <div class="col align-self-center py-2">
                    <input id="searchPrint_PrintTime" type="text" class="form-control">
                </div>
            </div>
        </div>

        <div class="col col-xxl border-end border-2">
            <div class="row border-bottom border-2 fw-semibold">
                <div class="col">
                    文件名稱
                </div>
            </div>
            <div class="row border-bottom border-2">
                <div class="col align-self-center py-2">
                    <input id="searchPrint_DocumentName" type="text" class="form-control">
                </div>
            </div>
        </div>

    </div>
</div>
@*欄位搜尋選項 - Second Container - End*@

@*使用紀錄 - Third Cotainer - Start*@
<div class="cotainer-fluid shadow p-3 mb-4 bg-body-tertiary rounded bg-light">

    <div class="row border-bottom border-2 ">
        <div class="col text-start fs-5 fw-bold" style="color: #1565C0">使用紀錄&nbsp;<i class="fa-solid fa-clock-rotate-left"></i></div>
    </div>

    <div class="row p-2">
        <div class="table-responsive">
            <table id="searchPrintDataTable" class="table table-striped table-bordered w-100 table-hover">
                <thead>
                <tr>
                    <th>事務機</th>
                    <th>使用人員</th>
                    <th>部門</th>
                    <th>卡號</th>
                    <th>屬性</th>
                    <th>動作</th>
                    <th>顏色</th>
                    <th>張數</th>
                    <th>使用點數</th>
                    <th>列印時間</th>
                    <th>文件名稱</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
@*使用紀錄 - Third Cotainer - End*@