<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="~/favicon.ico" sizes="64x64">
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/cssbundle")
    <link href="~/lib//font-awesome/css/all.min.css" rel="stylesheet"/>
    @Styles.Render("~/lib/datatable-css")
    @Styles.Render("~/lib/animate-css")
</head>

<body class="bg-black bg-gradient">
<header class="header pt-4 ps-2  bg-dark bg-gradient">
    @{
        if (TempData["ActiveNav"] != null)
        {
            ViewBag.ActiveNav = TempData["ActiveNav"].ToString();
        }
    }

    <div class="d-flex justify-content-between">
        <div>
            <a href="@Url.Action("Index", ViewBag.ActiveNav, new { area = "Admin" })" class="logo text-start">
                <img src="~/img/logo.png" alt="Logo">
            </a>
        </div>
        <div class="d-flex align-items-center me-5 fs-3 text-white fw-bold text-decoration-underline">
            @{
                var user_id = "";
                if (HttpContext.Current.User.Identity.IsAuthenticated)
                {
                    user_id = HttpContext.Current.User.Identity.Name;
                }
            }
            帳號：@user_id
        </div>
    </div>
</header>

<div class="container-fluid wrapper">
    <div class="card text-center m-3 ">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                @{
                    if (User.IsInRole("print"))
                    {
                        <li class="nav-item" role="presentation">
                            <button class="@(ViewBag.ActiveNav == "print" ? "nav-link active" : "nav-link")" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab"
                                    aria-selected=false onclick="location.href = '@Url.Action("Index", "Print", new { area = "Admin" })'">
                                <i class="fa-solid fa-fingerprint"></i>&ensp;使用紀錄
                            </button>
                        </li>
                    }

                    if (User.IsInRole("deposit"))
                    {
                        <li class="nav-item" role="presentation">
                            <button class="@(ViewBag.ActiveNav == "deposit" ? "nav-link active" : "nav-link")" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab"
                                    aria-selected=false onclick="location.href = '@Url.Action("Index", "Deposit", new { area = "Admin" })'">
                                <i class="fa-solid fa-wallet"></i>&ensp;儲值紀錄
                            </button>
                        </li>
                    }

                    if (User.IsInRole("department"))
                    {
                        <li class="nav-item" role="presentation">
                            <button class="@(ViewBag.ActiveNav == "department" ? "nav-link active" : "nav-link")" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab"
                                    aria-selected="false" onclick="location.href='@Url.Action("Index", "Department", new { area = "Admin" })'">
                                <i class="fa-solid fa-network-wired"></i>&ensp;部門管理
                            </button>
                        </li>
                    }

                    if (User.IsInRole("user"))
                    {
                        <li class="nav-item" role="presentation">
                            <button class="@(ViewBag.ActiveNav == "user" ? "nav-link active" : "nav-link")" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab"
                                    aria-selected="false" onclick="location.href='@Url.Action("Index", "User", new { area = "Admin" })'">
                                <i class="fa-solid fa-user"></i>&ensp;使用者管理
                            </button>
                        </li>
                    }

                    if (User.IsInRole("cardreader"))
                    {
                        <li class="nav-item" role="presentation">
                            <button class="@(ViewBag.ActiveNav == "cardreader" ? "nav-link active" : "nav-link")" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab"
                                    aria-selected="false" onclick="location.href='@Url.Action("Index", "CardReader", new { area = "Admin" })'">
                                <i class="fa-solid fa-desktop"></i>&ensp;事務機管理
                            </button>
                        </li>
                    }

                    if (User.IsInRole("card"))
                    {
                        <li class="nav-item" role="presentation">
                            <button class="@(ViewBag.ActiveNav == "card" ? "nav-link active" : "nav-link")" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab"
                                    aria-selected="false" onclick="location.href='@Url.Action("Index", "Card", new { area = "Admin" })'">
                                <i class="fa-solid fa-credit-card"></i>&ensp;卡片管理
                            </button>
                        </li>
                    }

                    if (User.IsInRole("watermark"))
                    {
                        <li class="nav-item" role="presentation">
                            <button class="@(ViewBag.ActiveNav == "watermark" ? "nav-link active" : "nav-link")" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab"
                                    aria-selected="false" onclick="location.href = '@Url.Action("Index", "Watermark", new { area = "Admin" })'">
                                <i class="fa-solid fa-address-card"></i>&ensp;浮水印管理
                            </button>
                        </li>
                    }

                    if (User.IsInRole("history"))
                    {
                        <li class="nav-item" role="presentation">
                            <button class="@(ViewBag.ActiveNav == "history" ? "nav-link active" : "nav-link")" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab"
                                    aria-selected="false" onclick="location.href='@Url.Action("Index", "History", new { area = "Admin" })'">
                                <i class="fa-solid fa-bars"></i>&ensp;操作紀錄查詢
                            </button>
                        </li>
                    }

                    if (User.IsInRole("system"))
                    {
                        <li class="nav-item" role="presentation">
                            <button class="@(ViewBag.ActiveNav == "system" ? "nav-link active" : "nav-link")" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab"
                                    aria-selected="false" onclick="location.href='@Url.Action("Index", "System", new { area = "Admin" })'">
                                <i class="fa-solid fa-gears"></i>&ensp;系統管理
                            </button>
                        </li>
                    }

                    if (User.IsInRole("outputreport"))
                    {
                        <li class="nav-item" role="presentation">
                            <button class="@(ViewBag.ActiveNav == "outputreport" ? "nav-link active" : "nav-link")" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab"
                                    aria-selected="false" onclick="location.href='@Url.Action("Index", "OutputReport", new { area = "Admin" })'">
                                <i class="fa-solid fa-file-lines"></i>&ensp;報表選項
                            </button>
                        </li>
                    }
                }

                <li class="nav-item" role="presentation">
                <button class="@(ViewBag.ActiveNav == "logout" ? "nav-link active" : "nav-link")" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab"
                        aria-selected="false" onclick="location.href='@Url.Action("Index", "LogOut", new { area = "Admin" })'">
                    <i class="fa-solid fa-right-from-bracket"></i>&ensp;登出
                </button>
            </ul>
        </div>
        <div class="card-body">
            <div class="tab-content">
                <div class="tab-pane fade show active" role="tabpanel">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer text-start" style="background-color: #3693cf;">
    <div class="py-3 ps-4">
        <p class="h6">
            © 2005 Copyright:
            <a class="text-dark" href="https://www.nisc.com.tw/">新印科技股份有限公司</a>
        </p>
    </div>
</footer>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/lib/datatable-js")
@Scripts.Render("~/bundles/jqueryvalmin")

@RenderSection("PrintJS", false)
@RenderSection("DepositJS", false)
@RenderSection("DepartmentJS", false)
@RenderSection("UserJS", false)
@RenderSection("CardReaderJS", false)
@RenderSection("CardJS", false)
@RenderSection("WatermarkJS", false)
@RenderSection("HistoryJS", false)
@RenderSection("OutputReportJS", false)
@RenderSection("SystemJS", false)

</body>
</html>