@model NISC_MFP_MVC.ViewModels.Config.ConfigViewModel

@{
    ViewBag.Title = "系統設定 - 資料庫設置";
    Layout = "~/Areas/Config/Views/Shared/_ConfigLayout.cshtml";
}

<div class="d-flex justify-content-start flex-wrap flex-md-nowrap align-items-baseline pt-3 mb-3 border-bottom">
    <h1 class="h2">
        伺服器位址
    </h1>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <div class="text-secondary fs-6">
        請輸入後端伺服器位址
    </div>
</div>

<div class="col-4 mb-5">
    
    @using (Html.BeginForm("", "", FormMethod.Post, new { id = "serverAddressConfigForm"}))
    {
        <div class="mb-3" id="serverAddress">
            @Html.Label("伺服器主機位址，範例：https://localhost:8080，無須以「/」符號結尾", new { @class = "form-label" })
            @Html.TextBoxFor(d => d.serverAddresModel.ServerAddress, new { Name = "ServerAddress", @class = "form-control bg-opacity-10 border border-primary" })
        </div>

        <div class="my-4 d-grid">
            <button id="btnServerAddressTestConnection" class="btn btn-primary" type="submit">
                測試連線
                <span id="btnServerAddressTestConnectionSpinner" class="spinner-border spinner-border-sm" style="display: none" role="status"></span>
            </button>
        </div>

        <div class="bg-secondary bg-opacity-50 rounded my-3 mx-5" style="height: 3px;">&nbsp;</div>

        <div class="d-grid">
            <button class="btn fs-4 btn-success" type="submit" id="btnSaveServerAddress" disabled>
                確定
                <span id="btnSaveServerAddressSpinner" class="spinner-border spinner-border-sm" style="display: none" role="status"></span>
            </button>
        </div>
    }
</div>

<div class="d-flex justify-content-start flex-wrap flex-md-nowrap align-items-baseline mb-3 border-bottom">
    <h1 class="h2">
        資料庫
    </h1>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <div class="text-secondary fs-6">
        請輸入資料庫帳號及密碼
    </div>
</div>

<div class="col-4">
    
    <div class="text-center my-3">

        @if (HttpContext.Current.IsDebuggingEnabled)
        {
            <input type="radio" class="btn-check" name="options-outlined" id="btnWindowsAuth">
            <label class="btn btn-outline-danger" for="btnWindowsAuth">Windows驗證<br />(此僅作為開發用途，請勿使用)</label>
        }

        <input type="radio" class="btn-check" name="options-outlined" id="btnSqlServerAuth" checked>
        <label class="btn btn-outline-info" for="btnSqlServerAuth">SQL Server驗證</label>
    </div>

    @using (Html.BeginForm("", "", FormMethod.Post, new { id = "databaseConfigForm"}))
    {
        @Html.HiddenFor(d => d.connectionModel.IntegratedSecurity, new { Name = "IntegratedSecurity" })

        <div class="mb-3">
            @Html.Label("資料來源", new { @class = "form-label" })
            @Html.TextBoxFor(d => d.connectionModel.DataSource, new { Name = "DataSource", Value = ".\\NISC_SQLEXPRESS", @class = "form-control bg-opacity-10 border border-primary" })
        </div>
        <div class="mb-3">
            @Html.Label("資料庫名稱", new { @class = "form-label" })
            @Html.TextBoxFor(d => d.connectionModel.InitialCatalog, new { Name = "InitialCatalog", Value = "mywebni1_managerc", @class = "form-control bg-opacity-10 border border-primary" })
        </div>
        <div class="mb-3" id="databaseAccountDiv">
            @Html.Label("資料庫登入帳號", new { @class = "form-label" })
            @Html.TextBoxFor(d => d.connectionModel.UserID, new { Name = "UserID", @class = "form-control bg-opacity-10 border border-primary" })
        </div>
        <div class="mb-3" id="databasePasswordDiv">
            @Html.Label("資料庫登入密碼", new { @class = "form-label" })
            @Html.TextBoxFor(d => d.connectionModel.Password, new { Name = "Password", @class = "form-control bg-opacity-10 border border-primary" })
        </div>

        <div class="my-4 d-grid">
            <button id="btnTestConnection" class="btn btn-primary" type="submit">
                測試連線
                <span id="btnTestConnectionSpinner" class="spinner-border spinner-border-sm" style="display: none" role="status"></span>
            </button>
        </div>

        <div class="bg-secondary bg-opacity-50 rounded my-3 mx-5" style="height: 3px;">&nbsp;</div>

        <div class="d-grid">
            <button class="btn fs-4 btn-success" type="submit" id="btnSaveConnectionString" disabled>
                確定
                <span id="btnSaveConnectionStringSpinner" class="spinner-border spinner-border-sm" style="display: none" role="status"></span>
            </button>
        </div>
    }
</div>