
@{
    Layout = null;
    ViewBag.Title = "新印科技影印列印控管系統";
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="~/favicon.ico" sizes="64x64">
    <title>@ViewBag.Title</title>
    <style>
        body {
            background: #000 url(../img/bw.jpg) center center fixed no-repeat;
        }

        #index_main {
            background-image: url(../img/earth_01.png);
        }
    </style>
    @Styles.Render("~/Content/LoginCSS")
</head>
<body>
    <div id="wapper">
        <div id="index_main">
            <div id="logo">
                <img src="~/img/logo_w.png" width="400" height="70" />
            </div>
            @model NISC_MFP_MVC.Models.LoginModel
            @using (Html.BeginForm("Admin", "Login", FormMethod.Post, new { @id = "loginForm", @class = "form-inline" }))
            {
                @Html.AntiForgeryToken();
                <div class="form-group">
                    <div id="login">
                        @Html.TextBoxFor(a => a.account, new { placeholder = "管理者帳號", @class = "form-control mb-2 mr-sm-2", style = "max-width: 280px;" })
                        <div>
                            @Html.ValidationMessageFor(a => a.account, "", new { @class = "text-danger fs-6" })
                        </div>
                        @Html.TextBoxFor(p => p.password, new { placeholder = "密碼", @class = "form-control mb-2 mr-sm-2", style = "max-width: 280px;", type = "password" })
                        <div>
                            @Html.ValidationMessageFor(a => a.password, "", new { @class = "text-danger fs-6" })
                        </div>
                        <div>
                            @Html.ValidationMessage("ErrorMessage", new { @class = "text-danger fs-6" })
                        </div>
                        <button type="submit" id="btnLogin" class="btn btn-outline-secondary">
                            Log In
                            <span id="btnLoginSpinner" class="spinner-border spinner-border-sm" style="display:none" role="status"></span>
                        </button>
                    </div>
                </div>
            }
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryvalmin")
</body>
</html>

<script>
    $("#loginForm").on("submit", function (e) {
        if ($("#loginForm").valid()) {
            $("#btnLogin").attr("disabled", true);
            $("#btnLoginSpinner").show();
        }
    });
</script>
