@model NISC_MFP_MVC.ViewModels.Config.ConfigViewModel

@{
    ViewBag.Title = "高級管理員帳號設置";
    Layout = null;
    <script type="module" src="@Url.Content("~/Scripts/Configuration/config.js")"></script>
}

<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    @Styles.Render("~/lib/sweetalert2-css")

</head>

<body>

    <div class="vh-100 d-flex justify-content-center align-items-center">

        <div class="col-md-4 p-5 shadow-sm border rounded-5 border-primary">
            <img src="../img/logo_b.png" class="mx-auto d-block img-fluid">

            <div id="databaseDiv">
                <p class="text-center fs-2 mb-0">
                    資料庫配置
                    <div class="text-secondary text-center">
                        請輸入欲連接之資料庫帳號及密碼
                    </div>
                </p>

                <div class="text-center my-3">
                    <input type="radio" class="btn-check" name="options-outlined" id="btnWindowsAuth" checked>
                    <label class="btn btn-outline-info" for="btnWindowsAuth">Windows驗證</label>

                    <input type="radio" class="btn-check" name="options-outlined" id="btnSqlServerAuth">
                    <label class="btn btn-outline-info" for="btnSqlServerAuth">SQL Server驗證</label>
                </div>

                @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "databaseConfigForm", @class = "overflow-auto px-5 pb-5 pt-1" }))
                {
                    @Html.HiddenFor(d => d.connectionModel.integrated_security, new { Name = "integrated_security" })

                    <div class="mb-3">
                        @Html.LabelFor(d => d.connectionModel.data_source, new { @class = "form-label" })
                        @Html.TextBoxFor(d => d.connectionModel.data_source, new { Name = "data_source", @Value = "NISC\\MFP\\SQLEXPRESS", @class = "form-control bg-opacity-10 border border-primary" })
                    </div>
                    <div class="mb-3">
                        @Html.LabelFor(d => d.connectionModel.initial_catalog, new { @class = "form-label" })
                        @Html.TextBoxFor(d => d.connectionModel.initial_catalog, new { Name = "initial_catalog", @Value = "mywebni1_managerc", @class = "form-control bg-opacity-10 border border-primary" })
                    </div>
                    <div class="mb-3" id="databaseAccountDiv" style="display: none;">
                        @Html.LabelFor(d => d.connectionModel.user_id, new { @class = "form-label" })
                        @Html.TextBoxFor(d => d.connectionModel.user_id, new { Name = "user_id", @class = "form-control bg-opacity-10 border border-primary" })
                    </div>
                    <div class="mb-3" id="databasePasswordDiv" style="display: none;">
                        @Html.LabelFor(d => d.connectionModel.password, new { @class = "form-label" })
                        @Html.TextBoxFor(d => d.connectionModel.password, new { Name = "password", @class = "form-control bg-opacity-10 border border-primary" })
                    </div>

                    <div class="my-4 d-grid">
                        <button id="btnTestConnection" class="btn btn-primary" type="submit">
                            測試連線
                            <span id="btnTestConnectionSpinner" class="spinner-border spinner-border-sm" style="display:none" role="status"></span>
                        </button>
                    </div>

                    <div class="bg-secondary bg-opacity-50 rounded my-4 mx-5" style="height:3px;">&nbsp;</div>

                    <div class="d-grid">
                        <button class="btn fs-4 btn-success" type="submit" id="btnSaveConnectionString" disabled>確定</button>
                    </div>
                }

                <div class="row">
                    <div class="col d-flex justify-content-end">
                        <button id="btnNext" class="btn btn-outline-primary">下一頁</button>
                    </div>
                </div>
            </div>

            <div id="adminRegisterDiv" style="display:none">
                <p class="text-center fs-2 mb-0">
                    管理員註冊
                    <div class="text-secondary text-center">
                        此帳號之註冊，為擁有最高權限之帳號
                    </div>
                </p>

                @using (Html.BeginForm("ConfigAdminRegister", "Login", FormMethod.Post, new { @id = "adminRegisterForm", @class = "overflow-auto px-5 pb-5 pt-1" }))
                {
                    <div class="mb-3">
                        <label for="adminRegisterAccount" class="form-label">帳號</label>
                        @Html.TextBoxFor(d => d.adminRegister.user_id, new { Name = "user_id", @class = "form-control bg-opacity-10 border border-primary" })
                        @Html.ValidationMessageFor(d => d.adminRegister.user_id, "", new { @class = "text-danger fs-6" })
                    </div>
                    <div class="mb-3">
                        <label for="adminRegisterPassword" class="form-label">密碼</label>
                        @Html.TextBoxFor(d => d.adminRegister.user_password, new { Name = "user_password", @class = "form-control bg-opacity-10 border border-primary", @type = "password" })
                        @Html.ValidationMessageFor(d => d.adminRegister.user_password, "", new { @class = "text-danger fs-6" })
                    </div>
                    <div class="mb-3">
                        <label for="adminRegisterPasswordRepeat" class="form-label">請再次輸入密碼</label>
                        @Html.TextBoxFor(d => d.adminRegister.user_password_confirm, new { Name = "user_password_confirm", @class = "form-control bg-opacity-10 border border-primary", @type = "password" })
                        @Html.ValidationMessageFor(d => d.adminRegister.user_password_confirm, "", new { @class = "text-danger fs-6" })
                    </div>
                    <div class="mb-3">
                        <label for="adminRegisterName" class="form-label">名稱</label>
                        @Html.TextBoxFor(d => d.adminRegister.user_name, new { Name = "user_name", @class = "form-control bg-opacity-10 border border-primary" })
                    </div>
                    <div class="bg-secondary bg-opacity-50 rounded my-4 mx-5" style="height:3px;">&nbsp;</div>
                    <div class="d-grid">
                        <button class="btn fs-4 btn-primary" type="submit">註冊</button>
                    </div>
                }

                <div class="row">
                    <div class="col d-flex justify-content-between">
                        <button id="btnPrevious" class="btn btn-outline-primary">上一頁</button>
                        <button id="btnSkip" class="btn btn-outline-primary">回到登入</button>
                    </div>
                </div>
            </div>

        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jqueryvalmin")
    @Scripts.Render("~/lib/sweetalert2-js")

</body>
</html>



