@model NISC_MFP_MVC.ViewModels.WatermarkViewModel

@{
    Model.type = Model.type == "圖片" ? "0" : "1";

    Model.position_mode = Model.position_mode == "左上" ? "0" :
        Model.position_mode == "左下" ? "1" :
            Model.position_mode == "右上" ? "2" :
                Model.position_mode == "右下" ? "3" : "";

    Model.fill_mode = Model.fill_mode == "無" ? "0" :
        Model.fill_mode == "依原圖比例多餘裁切" ? "1" :
            Model.fill_mode == "依原圖比例不裁切" ? "2" :
                Model.fill_mode == "依紙張比例" ? "3" :
                    Model.fill_mode == "重覆填滿" ? "4" :
                        Model.fill_mode == "置中，並依原圖比例多餘裁切" ? "5" : "";
}

<div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
        @using (Html.BeginForm("AddOrEdit", "Watermark", FormMethod.Post, new { id = "addOrEditForm", @class = "overflow-auto" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(d => d.id)

            <div class="modal-header">
                <h1 class="modal-title fs-4 fw-bold" id="exampleModalLabel">@ViewBag.formTitle</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="container">
                    <div class="row row-cols-1">
                        <div class="col">
                            <div class="form-group">
                                <div class="input-group">
                                    @Html.LabelFor(d => d.type, new { @class = "form-label fw-semibold me-2" })
                                    <div class="input-group-addon">
                                        <i class="fa-solid fa-star-of-life fa-beat fa-2xs" style="color: #ff0000;"></i>
                                    </div>
                                </div>
                                @Html.DropDownList("type", new List<SelectListItem>
                                {
                                    new SelectListItem { Text = "圖片", Value = "0" },
                                    new SelectListItem { Text = "文字", Value = "1" }
                                }, new { @class = "form-control" })
                                @Html.ValidationMessageFor(d => d.type, "", new { @class = "text-danger fs-6" })
                            </div>
                        </div>

                        <div class="col">
                            <div class="form-group">
                                <div class="input-group">
                                    @Html.LabelFor(d => d.left_offset, new { @class = "form-label fw-semibold me-2" })
                                    <div class="input-group-addon">
                                        <i class="fa-solid fa-star-of-life fa-beat fa-2xs" style="color: #ff0000;"></i>
                                    </div>
                                </div>
                                @Html.TextBoxFor(d => d.left_offset, new { @class = "form-control", type = "number" })
                                @Html.ValidationMessageFor(d => d.left_offset, "", new { @class = "text-danger fs-6" })
                            </div>
                        </div>

                        <div class="col">
                            <div class="form-group">
                                <div class="input-group">
                                    @Html.LabelFor(d => d.right_offset, new { @class = "form-label fw-semibold me-2" })
                                    <div class="input-group-addon">
                                        <i class="fa-solid fa-star-of-life fa-beat fa-2xs" style="color: #ff0000;"></i>
                                    </div>
                                </div>
                                @Html.TextBoxFor(d => d.right_offset, new { @class = "form-control", type = "number" })
                                @Html.ValidationMessageFor(d => d.right_offset, "", new { @class = "text-danger fs-6" })
                            </div>
                        </div>

                        <div class="col">
                            <div class="form-group">
                                <div class="input-group">
                                    @Html.LabelFor(d => d.top_offset, new { @class = "form-label fw-semibold me-2" })
                                    <div class="input-group-addon">
                                        <i class="fa-solid fa-star-of-life fa-beat fa-2xs" style="color: #ff0000;"></i>
                                    </div>
                                </div>
                                @Html.TextBoxFor(d => d.top_offset, new { @class = "form-control", type = "number" })
                                @Html.ValidationMessageFor(d => d.top_offset, "", new { @class = "text-danger fs-6" })
                            </div>
                        </div>

                        <div class="col">
                            <div class="form-group">
                                <div class="input-group">
                                    @Html.LabelFor(d => d.bottom_offset, new { @class = "form-label fw-semibold me-2" })
                                    <div class="input-group-addon">
                                        <i class="fa-solid fa-star-of-life fa-beat fa-2xs" style="color: #ff0000;"></i>
                                    </div>
                                </div>
                                @Html.TextBoxFor(d => d.bottom_offset, new { @class = "form-control", type = "number" })
                                @Html.ValidationMessageFor(d => d.bottom_offset, "", new { @class = "text-danger fs-6" })
                            </div>
                        </div>

                        <div class="col">
                            <div class="form-group">
                                <div class="input-group">
                                    @Html.LabelFor(d => d.position_mode, new { @class = "form-label fw-semibold me-2" })
                                    <div class="input-group-addon">
                                        <i class="fa-solid fa-star-of-life fa-beat fa-2xs" style="color: #ff0000;"></i>
                                    </div>
                                </div>
                                @Html.DropDownList("position_mode", new List<SelectListItem>
                                {
                                    new SelectListItem { Text = "左上", Value = "0" },
                                    new SelectListItem { Text = "左下", Value = "1" },
                                    new SelectListItem { Text = "右上", Value = "2" },
                                    new SelectListItem { Text = "右下", Value = "3" }
                                }, new { @class = "form-control" })
                                @Html.ValidationMessageFor(d => d.position_mode, "", new { @class = "text-danger fs-6" })
                            </div>
                        </div>

                        <div class="col">
                            <div class="form-group">
                                @Html.LabelFor(d => d.fill_mode, new { @class = "form-label fw-semibold" })
                                @Html.DropDownList("fill_mode", new List<SelectListItem>
                                {
                                    new SelectListItem { Text = "無", Value = "0" },
                                    new SelectListItem { Text = "依原圖比例多餘裁切", Value = "1" },
                                    new SelectListItem { Text = "依原圖比例不裁切", Value = "2" },
                                    new SelectListItem { Text = "依紙張比例", Value = "3" },
                                    new SelectListItem { Text = "重覆填滿", Value = "4" },
                                    new SelectListItem { Text = "置中，並依原圖比例多餘裁切", Value = "5" }
                                }, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="col">
                            <div class="form-group">
                                @Html.LabelFor(d => d.text, new { @class = "form-label fw-semibold" })
                                @Html.TextBoxFor(d => d.text, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="col">
                            <div class="form-group">
                                @Html.LabelFor(d => d.image_path, new { @class = "form-label fw-semibold" })
                                @Html.TextBoxFor(d => d.image_path, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="col">
                            <div class="form-group">
                                <div class="input-group">
                                    @Html.LabelFor(d => d.rotation, new { @class = "form-label fw-semibold me-2" })
                                </div>
                                @Html.TextBoxFor(d => d.rotation, new { @class = "form-control" })
                                @Html.ValidationMessageFor(d => d.rotation, "", new { @class = "text-danger fs-6" })
                            </div>
                        </div>

                        <div class="col">
                            <div class="form-group">
                                @Html.LabelFor(d => d.color, new { @class = "form-label fw-semibold" })
                                @Html.TextBoxFor(d => d.color, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="col">
                            <div class="form-group">
                                <div class="input-group">
                                    @Html.LabelFor(d => d.horizontal_alignment, new { @class = "form-label fw-semibold me-2" })
                                </div>
                                @Html.TextBoxFor(d => d.horizontal_alignment, new { @class = "form-control" })
                                @Html.ValidationMessageFor(d => d.horizontal_alignment, "", new { @class = "text-danger fs-6" })
                            </div>
                        </div>

                        <div class="col">
                            <div class="form-group">
                                <div class="input-group">
                                    @Html.LabelFor(d => d.vertical_alignment, new { @class = "form-label fw-semibold me-2" })
                                </div>
                                @Html.TextBoxFor(d => d.vertical_alignment, new { @class = "form-control" })
                                @Html.ValidationMessageFor(d => d.vertical_alignment, "", new { @class = "text-danger fs-6" })
                            </div>
                        </div>

                        <div class="col">
                            <div class="form-group">
                                @Html.LabelFor(d => d.font_name, new { @class = "form-label fw-semibold" })
                                @Html.TextBoxFor(d => d.font_name, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="col">
                            <div class="form-group">
                                <div class="input-group">
                                    @Html.LabelFor(d => d.font_height, new { @class = "form-label fw-semibold me-2" })
                                </div>
                                @Html.TextBoxFor(d => d.font_height, new { @class = "form-control" })
                                @Html.ValidationMessageFor(d => d.font_height, "", new { @class = "text-danger fs-6" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                <button type="submit" id="btnSubmmit" value="Add" class="btn btn-success">新增</button>
            </div>
        }
    </div>
</div>