@model NISC_MFP_MVC.Models.DTO.SearchCardDTO

@{

}

<div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-4 fw-bold" id="exampleModalLabel">@ViewBag.formTitle</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            @using (Html.BeginForm("AddCard", "Card", FormMethod.Post))
            {
                <div class="row mx-3 mb-3">
                    @Html.LabelFor(d => d.card_id, "卡片編號", new { @class = "form-label ps-0 fw-semibold" })
                    @Html.TextBoxFor(d => d.card_id, new { @class = "form-control" })
                </div>

                <div class="row mx-3 mb-3">
                    @Html.LabelFor(d => d.user_id, "使用者帳號", new { @class = "form-label ps-0 fw-semibold" })
                    @Html.TextBoxFor(d => d.user_id, new { @class = "form-control" })
                </div>

                <div class="row mx-3 mb-3">
                    @Html.LabelFor(d => d.user_name, "使用者姓名", new { @class = "form-label ps-0 fw-semibold" })
                    @Html.TextBoxFor(d => d.user_name, new { @class = "form-control" })
                </div>

                <div class="row mx-3 mb-3">
                    @Html.LabelFor(d => d.card_type, "屬性", new { @class = "form-label ps-0 fw-semibold" })
                    <div class="col px-0">
                        <div class="form-check form-check-inline">
                            @Html.RadioButtonFor(d => d.card_type, "1", new { @class = "form-check-input" })
                            <label class="form-check-label fs-6" for="flexRadioDefault1">
                                遞增
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            @Html.RadioButtonFor(d => d.card_type, "2", new { @class = "form-check-input" })
                            <label class="form-check-label fs-6" for="flexRadioDefault1">
                                遞減
                            </label>
                        </div>
                    </div>
                </div>

                <div class="row mx-3 mb-3">
                    @Html.LabelFor(d => d.enable, "狀態", new { @class = "form-label ps-0 fw-semibold" })
                    <div class="col px-0">
                        <div class="form-check form-check-inline">
                            @Html.RadioButtonFor(d => d.enable, "1", new { @class = "form-check-input" })
                            <label class="form-check-label fs-6" for="flexRadioDefault1">
                                可用
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            @Html.RadioButtonFor(d => d.enable, "2", new { @class = "form-check-input" })
                            <label class="form-check-label fs-6" for="flexRadioDefault1">
                                停用
                            </label>
                        </div>
                    </div>
                </div>
            }
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
            <button type="button" class="btn btn-success">新增</button>
        </div>
    </div>
</div>
