@model NISC_MFP_MVC.ViewModels.CardReaderViewModel

@{
    string cr_type;
    string cr_mode;
    string cr_card_switch;
    string cr_status;

    cr_type = Model.cr_type == "M" ? "事務機" :
        Model.cr_type == "F" ? "影印機" :
        Model.cr_type == "P" ? "印表機" :
        Model.cr_type;

    cr_mode = Model.cr_mode == "F" ? "離線" :
        Model.cr_mode == "O" ? "連線" :
        Model.cr_mode;

    cr_card_switch = Model.cr_card_switch == "F" ? "關閉" :
        Model.cr_card_switch == "O" ? "開啟" :
        Model.cr_card_switch;

    cr_status = Model.cr_status == "Online" ? "線上" :
        Model.cr_status == "Offline" ? "離線" :
        Model.cr_status;
}

<table id="deleteDataTable" class="table table-striped table-bordered w-100 fs-6">
    <thead>
        <tr>
            <th>卡機編號</th>
            <th>IP位置</th>
            <th>PORT</th>
            <th>卡機種類</th>
            <th>運作模式</th>
            <th>卡號判斷開關</th>
            <th>狀態</th>
        </tr>
    </thead>
    <tbody>
        <tr id="deleteRowData">
            <th id="cr_id">@Model.cr_id</th>
            <th id="cr_ip">@Model.cr_ip</th>
            <th id="cr_port">@Model.cr_port</th>
            <th id="cr_type">@cr_type</th>
            <th id="cr_mode" class="@(cr_mode=="連線"?"fw-bold text-success":"fw-bold text-danger")">@cr_mode</th>
            <th id="cr_card_switch" class="@(cr_card_switch=="開啟"?"fw-bold text-success":"fw-bold text-danger")">@cr_card_switch</th>
            <th id="cr_status" class="@(cr_status=="線上"?"fw-bold text-success":"fw-bold text-danger")">@cr_status</th>
        </tr>
    </tbody>
</table>