<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.104.2">
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/cssbundle")
    @Styles.Render("~/lib/animate-css")
    <link href="~/lib//font-awesome/css/all.min.css" rel="stylesheet" />
    <link href="~/Content/dashboard.css" rel="stylesheet">

    <style>

        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @@media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        .b-example-divider {
            height: 3rem;
            background-color: rgba(0, 0, 0, .1);
            border: solid rgba(0, 0, 0, .15);
            border-width: 1px 0;
            box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
        }

        .b-example-vr {
            flex-shrink: 0;
            width: 1.5rem;
            height: 100vh;
        }

        .bi {
            vertical-align: -.125em;
            fill: currentColor;
        }

        .nav-scroller {
            position: relative;
            z-index: 2;
            height: 2.75rem;
            overflow-y: hidden;
        }

            .nav-scroller .nav {
                display: flex;
                flex-wrap: nowrap;
                padding-bottom: 1rem;
                margin-top: -1px;
                overflow-x: auto;
                text-align: center;
                white-space: nowrap;
                -webkit-overflow-scrolling: touch;
            }

        #sidebarMenu li > a:hover {
            background-color: darkgray;
        }

        .sidebar-li-active {
            background-color: darkgray;
        }
    </style>

</head>

<body>

    <header class="navbar navbar-dark sticky-top flex-md-nowrap p-0 shadow-lg" style="background-color: #394867; ">
        <a href="/" class="d-flex align-items-center pt-3 text-white text-decoration-none">
            <img src="~/img/logo.png" class="img-fluid">
        </a>

        @*<div class="navbar-nav">
            <div class="nav-item text-nowrap">
                <a class="nav-link px-3" href="#">Sign out</a>
            </div>*@
        </div>
    </header>

    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-2 col-lg-2 col-xl-2 col-xxl-2 d-md-block sidebar">
                <div class="position-sticky pt-3 sidebar-sticky shadow" style="background-color: #394867;">

                    <ul class="nav flex-column my-2 fs-6">
                        <li class="nav-item border-2 border-bottom" id="li_dashboard">
                            <a class="nav-link" href="@Url.Action("Index", "Dashboard", new { area = "Config" })">
                                <div class="row text-white">
                                    <div class="col-2 fs-5">
                                        <i class="fa-solid fa-gauge-high"></i>
                                    </div>
                                    <div class="col d-flex align-items-center">
                                        儀錶板
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>

                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-2 mb-1 text-muted text-uppercase text-white-50">
                        <span>基本設定</span>
                    </h6>

                    <ul class="nav flex-column fs-6">

                        <li class="nav-item" id="li_db_connection">
                            <a class="nav-link" href="@Url.Action("Index", "Connection", new { area = "Config" })">
                                <div class="row text-white">
                                    <div class="col-2 fs-5">
                                        <i class="fa-solid fa-network-wired"></i>
                                    </div>
                                    <div class="col d-flex align-items-center">
                                        連線設定
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>

                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-2 mb-1 text-muted text-uppercase text-white-50">
                        <span>進階設定</span>
                    </h6>

                    <ul class="nav flex-column mb-2 fs-6">
                        <li class="nav-item" id="li_create_manager">
                            <a class="nav-link" href="@Url.Action("Index", "Administrator", new { area = "Config" })">
                                <div class="row text-white">
                                    <div class="col-2 fs-5">
                                        <i class="fa-solid fa-user-tie"></i>
                                    </div>
                                    <div class="col d-flex align-items-center">
                                        新增管理員
                                    </div>
                                </div>
                            </a>
                        </li>

                        <li class="nav-item" id="li_basic_config">
                            <a href="#listGeneralConfig" data-bs-toggle="collapse" data-bs-target="#listGeneralConfig" class="nav-link">
                                <div class="row text-white">
                                    <div class="col-2 fs-5">
                                        <i class="fa-solid fa-gears"></i>
                                    </div>
                                    <div class="col d-flex align-items-center">
                                        環境變數
                                    </div>
                                </div>
                            </a>

                            <ul class="collapse flex-column ms-4" id="listGeneralConfig">
                                <li class="nav-item" id="li_printer_path">
                                    <a class="nav-link" href="@Url.Action("Index", "Exit", new { area = "Config" })">
                                        <div class="row text-white">
                                            <div class="col-2 fs-5">
                                                <i class="fa-solid fa-right-from-bracket fa-flip-horizontal"></i>
                                            </div>
                                            <div class="col d-flex align-items-center">
                                                檔案留存/轉檔路徑
                                            </div>
                                        </div>
                                    </a>
                                </li>

                                <li class="nav-item" id="li_import">
                                    <a class="nav-link" href="@Url.Action("AutoTextImport", "AdvancedConfig", new { area = "Config" })">
                                        <div class="row text-white">
                                            <div class="col-2 fs-5">
                                                <i class="fa-solid fa-user-plus"></i>
                                            </div>
                                            <div class="col d-flex align-items-center">
                                                人事資料自動匯入
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>

                        </li>
                    </ul>

                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-2 mb-1 text-muted text-uppercase text-white-50">
                        <span>離開</span>
                    </h6>

                    <ul class="nav flex-column mb-2 fs-6">
                        <li class="nav-item" id="li_exit_to_admin">
                            <a class="nav-link" href="@Url.Action("Index", "Exit", new { area = "Config" })">
                                <div class="row text-white">
                                    <div class="col-2 fs-5">
                                        <i class="fa-solid fa-right-from-bracket fa-flip-horizontal"></i>
                                    </div>
                                    <div class="col d-flex align-items-center">
                                        管理者登入
                                    </div>
                                </div>
                            </a>
                        </li>

                        <li class="nav-item" id="li_exit_to_user">
                            <a class="nav-link" href="@Url.Action("Index", "Exit", new { area = "Config" })">
                                <div class="row text-white">
                                    <div class="col-2 fs-5">
                                        <i class="fa-solid fa-right-from-bracket fa-flip-horizontal"></i>
                                    </div>
                                    <div class="col d-flex align-items-center">
                                        使用者登入
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>

                </div>
            </nav>

            <main class="ms-sm-auto col-md-10 col-lg-10 col-xl-10 col-xxl-10">
                @RenderBody()
            </main>

        </div>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jqueryvalmin")
    @Scripts.Render("~/lib/sweetalert2-js")

    <script type="module" src="@Url.Content("~/Scripts/Configuration/config.js")"></script>
    <script>
        $(document).ready(function () {
            var selectedolditem = localStorage.getItem('selectedolditem');
            if (selectedolditem != null) {
                $('#' + selectedolditem).addClass("sidebar-li-active");
            }

            $("li").click(function () {

                if ($(this).children("a").attr("href").indexOf("#") < 0) {
                    var id = $(this).attr("id");
                    $('#' + id).addClass("sidebar-li-active");
                    localStorage.setItem("selectedolditem", id);
                }
            });
        });
    </script>

</body>
</html>
