@model NISC_MFP_MVC.ViewModels.Config.ConfigViewModel

@{
    ViewBag.Title = "系統設定 - 人事資料自動匯入";
    Layout = "~/Areas/Config/Views/Shared/_ConfigLayout.cshtml";
}

<div class="d-flex justify-content-start flex-wrap flex-md-nowrap align-items-baseline pt-3 mb-3 border-bottom">
    <h1 class="h2">
        人事資料自動匯入
    </h1>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <div class="text-secondary fs-6">
        設定人事資料自動匯入時的參數
    </div>
</div>

<div class="col-4 mb-5 fs-6">
    @using (Html.BeginForm("AutoTextImport", "Advanced", FormMethod.Post, new { id = "autoTextImportForm" }))
    {
        <div class="row mb-3 ">
            <div class="col-6">
                <label class="form-label">匯入前刪除所有資料</label>
            </div>
            <div class="col">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="flexRadioDefault1" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        是
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="flexRadioDefault2" id="flexRadioDefault2" checked>
                    <label class="form-check-label" for="flexRadioDefault2">
                        否
                    </label>
                </div>
            </div>
            @*@Html.TextBoxFor(d => d.adminRegister.user_id, new { Name = "user_id", @class = "form-control bg-opacity-10 border border-primary" })
                @Html.ValidationMessageFor(d => d.adminRegister.user_id, "", new { @class = "text-danger fs-6" })*@
        </div>
        <div class="row mb-3">
            <div class="col-6">
                <label class="form-label">若使用者之資料已存在，是否更新</label>
            </div>
            <div class="col">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="flexRadioDefault3" id="flexRadioDefault3" checked>
                    <label class="form-check-label" for="flexRadioDefault13">
                        是
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="flexRadioDefault4" id="flexRadioDefault4">
                    <label class="form-check-label" for="flexRadioDefault4">
                        否
                    </label>
                </div>
            </div>
            @*@Html.TextBoxFor(d => d.adminRegister.user_password, new { Name = "user_password", @class = "form-control bg-opacity-10 border border-primary", type = "password" })
                @Html.ValidationMessageFor(d => d.adminRegister.user_password, "", new { @class = "text-danger fs-6" })*@
        </div>
        <div class="row mb-3">
            <div class="col-6">
                <label for="adminRegisterPasswordRepeat" class="form-label">只保留.txt中的資料，其餘刪除</label>
            </div>
            <div class="col">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="flexRadioDefault5" id="flexRadioDefault5">
                    <label class="form-check-label" for="flexRadioDefault15">
                        是
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="flexRadioDefault6" id="flexRadioDefault6" checked>
                    <label class="form-check-label" for="flexRadioDefault6">
                        否
                    </label>
                </div>
            </div>
            @*@Html.TextBoxFor(d => d.adminRegister.user_password_confirm, new { Name = "user_password_confirm", @class = "form-control bg-opacity-10 border border-primary", type = "password" })
                @Html.ValidationMessageFor(d => d.adminRegister.user_password_confirm, "", new { @class = "text-danger fs-6" })*@
        </div>
        <div class="mb-3">
            <label for="adminRegisterName" class="form-label">檔案路徑</label>
            @Html.TextBoxFor(d => d.adminRegister.user_name, new { Name = "user_name", @class = "form-control bg-opacity-10 border border-primary" })
        </div>
        <div class="row mb-3">
            <div class="col-6">
                <label for="adminRegisterName" class="form-label">忽略無效資料</label>
            </div>
            <div class="col">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="flexRadioDefault7" id="flexRadioDefault7" checked>
                    <label class="form-check-label" for="flexRadioDefault17">
                        是
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="flexRadioDefault8" id="flexRadioDefault8">
                    <label class="form-check-label" for="flexRadioDefault8">
                        否
                    </label>
                </div>
            </div>
            @*@Html.TextBoxFor(d => d.adminRegister.user_name, new { Name = "user_name", @class = "form-control bg-opacity-10 border border-primary" })*@
        </div>
        <div class="mb-3">
            <label for="adminRegisterName" class="form-label">欄位分隔符號</label>
            @Html.TextBoxFor(d => d.adminRegister.user_name, new { Name = "user_name", @class = "form-control bg-opacity-10 border border-primary" })
        </div>

        <div class="bg-secondary bg-opacity-50 rounded my-4 mx-5" style="height: 3px;">&nbsp;</div>
        <div class="d-grid">
            <button class="btn fs-4 btn-primary" type="submit">註冊</button>
        </div>
    }
</div>